@media(max-width: 450px) {
    .login-page-logo {
        width: 67vw;
    }
}

/* Animations: */

@keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

/* Styles: */

html {
    font-size: calc(1rem - 0.1rem);
}

#bingo-div {
    height: 100vh;
    background: linear-gradient(
        135deg,
        white,
        rgba(128, 128, 128, 0.37)
    );
}

.logo-div {
    display: flex;
    justify-content: center;
}

.logo {
    width: 25rem;
}

#generated-number {
    height: 5rem;
    margin-bottom: 3rem;
    font-size: 5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    animation: slide-in 250ms ease-in-out;
}

.game-area {
    display: flex;
    justify-content: center;
}

.score-box:first-of-type {
    margin-right: 20vw;
}

.score-box:last-of-type {
    margin-left: 20vw;
}

.your-score {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.score {
    border: .3rem solid;
    border-radius: .7rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 12rem;
    height: 6rem;
    border-color: rgb(209, 81, 42);
    text-align: center;
    align-content: center;
    font-size: 4rem;
}

.four-by-four {
    margin-bottom: 0;
    border: 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quadro {
    display: flex;
}

.random-number {
    width: 6rem;
    height: 6rem;
    border: 1.5px solid;
    font-size: 4rem;
    text-align: center;
    align-content: center;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    margin-top: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button,
#reload-button {
    width: 24rem;
    font-size: 2.7rem;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hidden {
    margin-top: 1rem;
    display: none;
}

#reload-button {
    margin-top: -3.3rem;
}

.exit-button {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

#exit-button {
    font-size: 2.1rem;
    font-weight: bold;
    margin-right: 4vw;
    border-radius: .3rem;
}

#exit-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(45deg,
            rgb(255, 208, 55),
            rgb(209, 81, 42));
    color: white;
}