body {
    margin: 0;
}

.host-join-buttons {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        15deg,
        rgb(29, 105, 64) 15%,
        rgba(57, 180, 154, 0.651)
    );
}

#host-button,
#join-button-host {
    font-size: 3.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    width: 15rem;
    border-radius: .3rem;
    cursor: default;
    background: linear-gradient(
        180deg,
        grey,
        rgb(224, 220, 220)
    );
    text-align: center;
    color: rgba(60, 6, 77, 0.925);
    box-shadow: violet;
    border: 5px solid rgba(97, 95, 95, 0.671);
}

#host-button:active,
#join-button-host:active {
    filter: brightness(0.5);
}

#join-button-host {
    margin-top: 1.8rem;
}