body {
    margin: 0;
}
.lobby-area {
    height: 100vh;
    padding: 2rem;
}
.player-list {
    width: 50vw;
    height: 50vh;
    border: 1px solid;
}
.buttons {
    width: 50vw;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
#add-button, #leave-button {
    width: 8rem;
    height: 3.7rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: aliceblue;
    border: none;
    background: linear-gradient(
        45deg,
        red,
        blue
    );
}
.for-joining {
    height: 5rem;
    margin-top: 25vh;
    margin-left: 87vw;
    display: flex;
    justify-content: end;
}
#join-button {
    width: 8rem;
    height: 5rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: aliceblue;
    border: none;
    background: linear-gradient(
        45deg,
        red,
        blue
    );
}