body {
    margin: 0;
}

.join-area {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,
            rgba(76, 150, 235, 0.774),
            rgba(248, 206, 150, 0.466) 80%);
}

#welcome-message {
    font-size: 2rem;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-bottom: -2rem;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 3.1rem;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(73, 25, 25);
}

#entry-box {
    width: 22rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: none;
    margin-bottom: 1.6rem;
    font-size: 1.7rem;
    text-align: center;
}

#join-button {
    border-radius: 0.7rem;
    border: none;
    font-size: 2.7rem;
    font-weight: bold;
}