body {
    margin: 0;
    background: linear-gradient(
        45deg,
        rgba(149, 226, 113, 0.616),
        rgb(93, 165, 184)
    );
}

.rejoin-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24vh;
}

.thanks-msg {
    font-family: monospace;
    font-size: 4rem;
    margin-top: 0;
    color: rgb(9, 40, 68);
}

.rejoin-link {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: transform 0.5s ease;
    font-size: 1.9rem;
}

.rejoin-link:hover {
    transform: scale(1.7);
}